
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

header{
  background-color: rgba(242, 242, 204, 0.609);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

header ul{
  list-style: none;
  display: flex;
  flex-direction:row;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

header ul li{
  margin: 10px;
}

header img {
  margin: 0% 10% 0%;
  width: 100px;
}


body {background-color: rgb(213, 216, 220 );}

.contenedor1 { 
  display: flex;
   flex-direction: row;
   align-items: baseline;
   margin: 10px 0 10px 0;
   width: 100%;
   height: 100%;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;}

    h1 {font-family: "Merriweather", serif;
      font-weight: 400;
      font-style: normal;}

.caja {width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;}
 
.caja img {border-radius: 50%;}   

#video { width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
}


#video h4 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;}

.carousel-inner{ margin: 15px 0 20px 0;}

.objetivo { display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

  .oculto{
    display:none;
  }

  .show{ 
    display: block;
  }






  